typo3_src*/
vagrant/components/components
vagrant/components/bower_components
vagrant/components/node_modules/
vagrant/htdocs/index.php
vagrant/htdocs/typo3
vagrant/htdocs/typo3_src
vagrant/vhosts/000-default.conf
vagrant/vhosts/default-ssl.conf
