bower_components/
node_modules/

htdocs/
scripts/

vhosts/000-default.conf
vhosts/default-ssl.conf

vagrant/.vagrant
vagrant/MySQL_Backups
vagrant/typo3_src*/

.idea/
nbproject/
*.komodoproject

*.tar.gz
